html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
    background-image: linear-gradient(bisque, cyan);
    font-family: "Balsamiq Sans", sans-serif;
}

a {
    text-decoration: none;
    margin: 17px;
    font-size: larger;
    font-weight: bold;
    transition: all 0.3s ease-out;
    display: inline-block;
}

a:hover {
    color: #ff9100;
    transform: scale(1.05);
}